@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');
@import './variables.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $text-color;
}

body {
    background-color: $background-color;
    color: $text-color;
    font-family: $font-family;
    font-weight: 200;
}

.title {
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
}

.highlight-text {
    color: $highlight-color;
}

.navbar {
    .nav-item {
        .nav-link {
            text-transform: uppercase;
            font-size: 13px;
            padding-right: 15px;
            padding-left: 15px;
            color: $text-color;

            &.active {
                color: white
            }
        }
    }

    .navbar-brand {
        border-radius: 100%;
        width: 70px;
        height: 70px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.banner {

    .social {
        a {
            width: 60px;
            height: 60px;
            display: inline-block;
            line-height: 60px;
            text-align: center;
            transition: 0.4s;
        }
        a:hover {
            color: white;
            transform: translateY(-3px);
        }
    }

    .skills {
        li {
            min-width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
        }
    }

    .thumbnail {
        position: relative;
        &::before {
            position: absolute;
            z-index: -1;
            width: 80%;
            height: calc(100% - 130px);
            content: "";
            left: 50%;
            bottom: 0;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            background: black;
            box-shadow: black;
            border-radius: 6px;
        }
    }
}

.features {
    .contain-feature {
        position: relative;
        &:hover .feature {
            .read-more {
                height: auto;
                opacity: 1;
                visibility: visible;
                svg {
                    height: auto;
                }
            }

            &>* {
                transform: translateY(0px);
            }
        }
        .feature {
            background-color: black;
            border-radius: 5px;
            &>* {
                transform: translateY(20px);
                transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
            }
            .title {
                font-size: 24px
            }
            .read-more {
                visibility: hidden;
                height: 0;
                opacity: 0;
                transform: 0.4s;
                svg {
                    height: 0;
                }
            }
        }

        .feature-link {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
        }
    }
}

.portfoilio {
    .contain-item {
        .item {
            background-color: black;
            border-radius: 5px;
            .title {
                font-size: 23px;
                line-height: 1.25;
                a {
                    transition: 0.4s;
                    svg {
                        height: 0;
                        transition: 0.4s;
                        color: $highlight-color;
                    }
                }
                &:hover a {
                    color: $highlight-color;
                    svg {
                        height: 23px;
                    }
                }
            }

            .type {
                font-size: 12px;
            }

            .like {
                font-size: 13px;
                svg {
                    transition: .4s;
                    cursor: pointer;
                }
                svg:hover {
                    fill: $highlight-color
                }
            }

            .thumbnail {
                border-radius: 5px;
                a {
                    overflow: hidden;
                    display: block;
                    border-radius: 5px;
                    img {
                        border-radius: 5px;
                        object-fit: cover;
                        width: 100%;
                        transition: .4s;
                    }
                }
            }
        }
        &:hover .item .thumbnail img {
            transform: scale(1.1);
        }
    }
}

.resume {
    .tabs {
        background-color: black;
        border-radius: 10px;
        .tab {
            text-align: center;
            padding: 30px;
            cursor: pointer;
            transition: .4s;
            font-weight: 400;
            &.active {
                color: $highlight-color
            }
            &:hover {
                color: $highlight-color
            }
        }
    }

    .contents-tab {
        .contents {
            .contain-items {
                border-left: 5px solid black;
                padding-left: 3rem;
                z-index: 1;
                .item {
                    margin: 4rem 0;
                    padding: 1rem;
                    border: 1px solid rgb(34, 34, 34);
                    background-color: rgb(34, 34, 34);
                    position: relative;
                    transition: .4s;
                    z-index: 2;

                    &::after {
                        content: "";
                        height: 5px;
                        width: 2.7rem;
                        background-color: black;
                        position: absolute;
                        top: 3rem;
                        left: -2.7rem
                    }

                    &::before {
                        content: "";
                        height: 20px;
                        width: 20px;
                        border: 5px solid black;
                        border-radius: 100%;
                        position: absolute;
                        top: 2.5rem;
                        left: calc(-2.7rem - 18.7px);
                        z-index: -1;
                        background-color: $background-color;
                        transition: .4s;
                    }
                    &:hover::before {
                        background-color: $highlight-color;
                    }
                    &:hover {
                        background-color: black;
                        .desc {
                            opacity: 1;
                        }
                    }

                    .desc {
                        opacity: 0.7;
                        transition: .4s;
                    }
                }
            }
        }

        transition: .4s;
        &.hide {
            opacity: 0;
            height: 0 !important;
            margin: 0 !important;
        }
        &.active {
            opacity: 1;
        }

        .contain-skills {
            .skill {
                .progress {
                    border-radius: 1000px;
                    height: 8px;
                    overflow: visible;
                    width: 90%;
                    .progress-bar {
                        background: linear-gradient(145deg, #f02981 0%, #c81901 100%);
                        position: relative;
                        border-radius: 1000px;
                        overflow: visible;
                        label {
                            position: absolute;
                            right: 0;
                            top: -20px;
                            font-size: 14px;
                        }
                    }
                }
                span {
                    font-size: 12px;
                }
            }

            &.active {
                .progress-bar {
                    &.w-75 {
                        width: 75%;
                        visibility: visible;
                        animation-duration: 0.8s;
                        animation-delay: 0.3s;
                        animation-name: increseWidth;
                    }
                    @keyframes increseWidth {
                        0% {
                            opacity: 0;
                            transform: translate3d(-100%, 0, 0)
                        }
                        100% {
                            opacity: 1;
                            transform: none
                        }
                    }

                    &.w-100 {
                        width: 100%;
                        visibility: visible;
                        animation-duration: 0.8s;
                        animation-delay: 0.3s;
                        animation-name: increseWidth;
                    }
                }
            }
        }
    }
}