@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #C4CFDE;
}

body {
  background-color: #212428;
  color: #C4CFDE;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.title {
  font-size: 60px;
  font-weight: 700;
  line-height: 75px;
}

.highlight-text {
  color: #FF014F;
}

.navbar .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 13px;
  padding-right: 15px;
  padding-left: 15px;
  color: #C4CFDE;
}
.navbar .nav-item .nav-link.active {
  color: white;
}
.navbar .navbar-brand {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner .social a {
  width: 60px;
  height: 60px;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  transition: 0.4s;
}
.banner .social a:hover {
  color: white;
  transform: translateY(-3px);
}
.banner .skills li {
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.banner .thumbnail {
  position: relative;
}
.banner .thumbnail::before {
  position: absolute;
  z-index: -1;
  width: 80%;
  height: calc(100% - 130px);
  content: "";
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background: black;
  box-shadow: black;
  border-radius: 6px;
}

.features .contain-feature {
  position: relative;
}
.features .contain-feature:hover .feature .read-more {
  height: auto;
  opacity: 1;
  visibility: visible;
}
.features .contain-feature:hover .feature .read-more svg {
  height: auto;
}
.features .contain-feature:hover .feature > * {
  transform: translateY(0px);
}
.features .contain-feature .feature {
  background-color: black;
  border-radius: 5px;
}
.features .contain-feature .feature > * {
  transform: translateY(20px);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
.features .contain-feature .feature .title {
  font-size: 24px;
}
.features .contain-feature .feature .read-more {
  visibility: hidden;
  height: 0;
  opacity: 0;
  transform: 0.4s;
}
.features .contain-feature .feature .read-more svg {
  height: 0;
}
.features .contain-feature .feature-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.portfoilio .contain-item .item {
  background-color: black;
  border-radius: 5px;
}
.portfoilio .contain-item .item .title {
  font-size: 23px;
  line-height: 1.25;
}
.portfoilio .contain-item .item .title a {
  transition: 0.4s;
}
.portfoilio .contain-item .item .title a svg {
  height: 0;
  transition: 0.4s;
  color: #FF014F;
}
.portfoilio .contain-item .item .title:hover a {
  color: #FF014F;
}
.portfoilio .contain-item .item .title:hover a svg {
  height: 23px;
}
.portfoilio .contain-item .item .type {
  font-size: 12px;
}
.portfoilio .contain-item .item .like {
  font-size: 13px;
}
.portfoilio .contain-item .item .like svg {
  transition: 0.4s;
  cursor: pointer;
}
.portfoilio .contain-item .item .like svg:hover {
  fill: #FF014F;
}
.portfoilio .contain-item .item .thumbnail {
  border-radius: 5px;
}
.portfoilio .contain-item .item .thumbnail a {
  overflow: hidden;
  display: block;
  border-radius: 5px;
}
.portfoilio .contain-item .item .thumbnail a img {
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  transition: 0.4s;
}
.portfoilio .contain-item:hover .item .thumbnail img {
  transform: scale(1.1);
}

.resume .tabs {
  background-color: black;
  border-radius: 10px;
}
.resume .tabs .tab {
  text-align: center;
  padding: 30px;
  cursor: pointer;
  transition: 0.4s;
  font-weight: 400;
}
.resume .tabs .tab.active {
  color: #FF014F;
}
.resume .tabs .tab:hover {
  color: #FF014F;
}
.resume .contents-tab {
  transition: 0.4s;
}
.resume .contents-tab .contents .contain-items {
  border-left: 5px solid black;
  padding-left: 3rem;
  z-index: 1;
}
.resume .contents-tab .contents .contain-items .item {
  margin: 4rem 0;
  padding: 1rem;
  border: 1px solid rgb(34, 34, 34);
  background-color: rgb(34, 34, 34);
  position: relative;
  transition: 0.4s;
  z-index: 2;
}
.resume .contents-tab .contents .contain-items .item::after {
  content: "";
  height: 5px;
  width: 2.7rem;
  background-color: black;
  position: absolute;
  top: 3rem;
  left: -2.7rem;
}
.resume .contents-tab .contents .contain-items .item::before {
  content: "";
  height: 20px;
  width: 20px;
  border: 5px solid black;
  border-radius: 100%;
  position: absolute;
  top: 2.5rem;
  left: calc(-2.7rem - 18.7px);
  z-index: -1;
  background-color: #212428;
  transition: 0.4s;
}
.resume .contents-tab .contents .contain-items .item:hover::before {
  background-color: #FF014F;
}
.resume .contents-tab .contents .contain-items .item:hover {
  background-color: black;
}
.resume .contents-tab .contents .contain-items .item:hover .desc {
  opacity: 1;
}
.resume .contents-tab .contents .contain-items .item .desc {
  opacity: 0.7;
  transition: 0.4s;
}
.resume .contents-tab.hide {
  opacity: 0;
  height: 0 !important;
  margin: 0 !important;
}
.resume .contents-tab.active {
  opacity: 1;
}
.resume .contents-tab .contain-skills .skill .progress {
  border-radius: 1000px;
  height: 8px;
  overflow: visible;
  width: 90%;
}
.resume .contents-tab .contain-skills .skill .progress .progress-bar {
  background: linear-gradient(145deg, #f02981 0%, #c81901 100%);
  position: relative;
  border-radius: 1000px;
  overflow: visible;
}
.resume .contents-tab .contain-skills .skill .progress .progress-bar label {
  position: absolute;
  right: 0;
  top: -20px;
  font-size: 14px;
}
.resume .contents-tab .contain-skills .skill span {
  font-size: 12px;
}
.resume .contents-tab .contain-skills.active .progress-bar.w-75 {
  width: 75%;
  visibility: visible;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-name: increseWidth;
          animation-name: increseWidth;
}
@-webkit-keyframes increseWidth {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes increseWidth {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.resume .contents-tab .contain-skills.active .progress-bar.w-100 {
  width: 100%;
  visibility: visible;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-name: increseWidth;
          animation-name: increseWidth;
}
/*# sourceMappingURL=main.css.map */