@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #C4CFDE;
}

body {
  background-color: #212428;
  color: #C4CFDE;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.title {
  font-size: 60px;
  font-weight: 700;
  line-height: 75px;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 34px;
  }
}
.highlight-text {
  color: #FF014F;
  font-weight: 500;
}

.navbar .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 13px;
  padding-right: 15px;
  padding-left: 15px;
  color: #C4CFDE;
  font-weight: 200;
}
.navbar .nav-item .nav-link.active {
  color: white;
}
.navbar .navbar-brand {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner p {
  color: #C4CFDE;
}
.banner .social a {
  width: 60px;
  height: 60px;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  transition: 0.4s;
}
.banner .social a:hover {
  color: white;
  transform: translateY(-3px);
}
.banner .skills li {
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.banner .thumbnail {
  position: relative;
}
.banner .thumbnail::before {
  position: absolute;
  z-index: -1;
  width: 80%;
  height: calc(100% - 130px);
  content: "";
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background: black;
  box-shadow: black;
  border-radius: 6px;
}
@media screen and (max-width: 768px) {
  .banner .title {
    font-size: 32px;
    line-height: 40px;
  }
  .banner .thumbnail::before {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .features .highlight-text, .features .title {
    text-align: center;
  }
}
.features .contain-feature {
  position: relative;
}
.features .contain-feature:hover .feature .read-more {
  height: auto;
  opacity: 1;
  visibility: visible;
}
.features .contain-feature:hover .feature .read-more svg {
  height: auto;
}
.features .contain-feature:hover .feature > * {
  transform: translateY(0px);
}
.features .contain-feature .feature {
  background-color: black;
  border-radius: 5px;
}
.features .contain-feature .feature > * {
  transform: translateY(20px);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
.features .contain-feature .feature .title {
  font-size: 24px;
}
.features .contain-feature .feature .read-more {
  visibility: hidden;
  height: 0;
  opacity: 0;
  transform: 0.4s;
}
.features .contain-feature .feature .read-more svg {
  height: 0;
}
.features .contain-feature .feature-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.portfoilio .contain-item .item {
  background-color: black;
  border-radius: 5px;
}
.portfoilio .contain-item .item .title {
  font-size: 23px;
  line-height: 1.25;
}
.portfoilio .contain-item .item .title a {
  transition: 0.4s;
}
.portfoilio .contain-item .item .title a svg {
  height: 0;
  transition: 0.4s;
  color: #FF014F;
}
.portfoilio .contain-item .item .title:hover a {
  color: #FF014F;
}
.portfoilio .contain-item .item .title:hover a svg {
  height: 23px;
}
.portfoilio .contain-item .item .type {
  font-size: 12px;
}
.portfoilio .contain-item .item .like {
  font-size: 13px;
}
.portfoilio .contain-item .item .like svg {
  transition: 0.4s;
  cursor: pointer;
}
.portfoilio .contain-item .item .like svg:hover {
  fill: #FF014F;
}
.portfoilio .contain-item .item .thumbnail {
  border-radius: 5px;
}
.portfoilio .contain-item .item .thumbnail a {
  overflow: hidden;
  display: block;
  border-radius: 5px;
}
.portfoilio .contain-item .item .thumbnail a img {
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  transition: 0.4s;
}
.portfoilio .contain-item:hover .item .thumbnail img {
  transform: scale(1.1);
}

.resume .tabs {
  background-color: black;
  border-radius: 10px;
}
.resume .tabs .tab {
  text-align: center;
  padding: 30px;
  cursor: pointer;
  transition: 0.4s;
  font-weight: 400;
}
.resume .tabs .tab.active {
  color: #FF014F;
}
.resume .tabs .tab:hover {
  color: #FF014F;
}
.resume .contents-tab {
  transition: 0.4s;
}
.resume .contents-tab .contents .contain-items {
  border-left: 5px solid black;
  padding-left: 3rem;
  z-index: 1;
}
.resume .contents-tab .contents .contain-items .item {
  margin: 4rem 0;
  padding: 1rem;
  border: 1px solid rgb(34, 34, 34);
  background-color: rgb(34, 34, 34);
  position: relative;
  transition: 0.4s;
  z-index: 2;
}
.resume .contents-tab .contents .contain-items .item::after {
  content: "";
  height: 5px;
  width: 2.7rem;
  background-color: black;
  position: absolute;
  top: 3rem;
  left: -2.7rem;
}
.resume .contents-tab .contents .contain-items .item::before {
  content: "";
  height: 20px;
  width: 20px;
  border: 5px solid black;
  border-radius: 100%;
  position: absolute;
  top: 2.5rem;
  left: calc(-2.7rem - 18.7px);
  z-index: -1;
  background-color: #212428;
  transition: 0.4s;
}
.resume .contents-tab .contents .contain-items .item:hover::before {
  background-color: #FF014F;
}
.resume .contents-tab .contents .contain-items .item:hover {
  background-color: black;
}
.resume .contents-tab .contents .contain-items .item:hover .desc {
  opacity: 1;
}
.resume .contents-tab .contents .contain-items .item .desc {
  opacity: 0.7;
  transition: 0.4s;
}
.resume .contents-tab.hide {
  opacity: 0;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.resume .contents-tab.hide * {
  display: none;
}
.resume .contents-tab.active {
  opacity: 1;
}
.resume .contents-tab .contain-skills .skill .progress {
  border-radius: 1000px;
  height: 8px;
  overflow: visible;
  width: 90%;
}
.resume .contents-tab .contain-skills .skill .progress .progress-bar {
  background: linear-gradient(145deg, #f02981 0%, #c81901 100%);
  position: relative;
  border-radius: 1000px;
  overflow: visible;
}
.resume .contents-tab .contain-skills .skill .progress .progress-bar label {
  position: absolute;
  right: 0;
  top: -20px;
  font-size: 14px;
}
.resume .contents-tab .contain-skills .skill span {
  font-size: 12px;
}
.resume .contents-tab .contain-skills.active .progress-bar.w-75 {
  width: 75%;
  visibility: visible;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-name: increseWidth;
          animation-name: increseWidth;
}
@-webkit-keyframes increseWidth {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes increseWidth {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.resume .contents-tab .contain-skills.active .progress-bar.w-100 {
  width: 100%;
  visibility: visible;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-name: increseWidth;
          animation-name: increseWidth;
}

.clients .thumbnail {
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  background: linear-gradient(145deg, #1e2024, #23272b);
  border-radius: 10px;
  padding: 2rem;
}
.clients .thumbnail .avatar {
  overflow: hidden;
}
.clients .thumbnail .avatar img {
  transition: 0.4s;
}
.clients .thumbnail .avatar img:hover {
  transform: scale(1.1);
}
.clients .comment {
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  background: linear-gradient(145deg, #1e2024, #23272b);
  border-radius: 10px;
  padding: 2rem;
}
.clients .comment .bi-star-fill {
  color: #ECA11E;
  font-size: 12px;
  padding: 0 1px;
}
@media screen and (max-width: 768px) {
  .clients .comment {
    padding: 1rem;
  }
  .clients .title-comment h3 {
    font-size: 18px;
  }
}
.clients .carousel-indicators {
  align-items: center;
}
.clients .carousel-indicators button {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
}
.clients .carousel-indicators button.active {
  background: #FF014F;
  border: none;
}
.clients .carousel-control-prev {
  bottom: unset;
  right: 10%;
  top: 10%;
  left: unset;
  display: block;
  width: unset;
  display: flex;
  align-items: center;
  background-color: black;
}
.clients .carousel-control-prev i {
  font-size: 36px;
  padding: 0 10px;
  transition: 0.4s;
}
.clients .carousel-control-prev:hover {
  box-shadow: 0 0 5px black;
}
.clients .carousel-control-prev:hover i {
  color: #FF014F;
}
.clients .carousel-control-next {
  bottom: unset;
  right: 5%;
  top: 10%;
  display: block;
  width: unset;
  display: flex;
  align-items: center;
  background-color: black;
}
.clients .carousel-control-next i {
  font-size: 36px;
  padding: 0 10px;
  transition: 0.4s;
}
.clients .carousel-control-next:hover {
  box-shadow: 0 0 5px black;
}
.clients .carousel-control-next:hover i {
  color: #FF014F;
}
.clients .popular-client .task {
  color: white;
  background-color: black;
  width: 100%;
  padding: 1rem;
  margin: 8px 0;
  border-radius: 0;
}
.clients .popular-client .task:hover {
  color: #FF014F;
}
.clients .popular-client .task.active {
  color: #FF014F;
  border: none;
}
.clients .popular-client .client-task {
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  background: linear-gradient(145deg, #1e2024, #23272b);
  border-radius: 10px;
  padding: 1rem;
  transition: 0.4s;
}
.clients .popular-client .client-task:hover {
  background: black;
}
.clients .popular-client .contain-client {
  max-height: 500px;
  overflow-y: scroll;
}
@media screen and (max-width: 768px) {
  .clients .popular-client {
    text-align: center;
  }
}

.pricing .pricing-title {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
@media screen and (max-width: 768px) {
  .pricing .pricing-title {
    text-align: center;
    max-width: none;
  }
}
.pricing .services {
  background-color: linear-gradient(145deg, #1e2024, #23272b);
}
.pricing .services .btn {
  color: white;
  border-radius: 0;
  padding: 2rem;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  position: relative;
}
.pricing .services .btn.active {
  background-color: black;
  border-color: transparent;
  color: #FF014F;
}
.pricing .services .btn:hover {
  color: #FF014F;
}
.pricing .services .btn.recommended::before {
  content: "Recommended";
  position: absolute;
  top: -50px;
  right: 100px;
  background: #545961;
  padding: 5px 13px;
  font-size: 12px;
  border-radius: 30px;
  color: #fff;
  z-index: 2;
}
.pricing .services .btn.recommended::after {
  content: "";
  right: 140px;
  top: -23px;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #545961;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .pricing .services .btn.recommended::before {
    top: 0;
    right: 0;
    border-radius: 5px;
  }
  .pricing .services .btn.recommended::after {
    display: none;
  }
}
.pricing .service-content {
  background-color: linear-gradient(145deg, #141517, #0c0c0c);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  padding: 1rem;
  position: relative;
}
.pricing .service-content .service-item {
  opacity: 0;
  transition: 1s;
  visibility: hidden;
  content-visibility: hidden;
}
.pricing .service-content .service-item.active {
  opacity: 1;
  visibility: visible;
  content-visibility: visible;
}
.pricing .service-content .title-service h2 {
  font-size: 27px;
  font-weight: bold;
}
.pricing .service-content .title-service span {
  color: #7c838e;
}
.pricing .service-content .price {
  font-size: 30px;
  font-weight: bold;
  color: #FF014F;
}
.pricing .service-content .service-body p {
  color: #7c838e;
}
.pricing .service-content .service-body .item {
  color: #C4CFDE;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}
.pricing .service-content .service-body .item svg {
  padding-right: 5px;
}
.pricing .service-content .service-footer button {
  color: #FF014F;
  background-color: black;
  border: 1px solid black;
  width: 100%;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing .service-content .service-footer button i {
  font-size: 30px;
  transition: 0.4s;
}
.pricing .service-content .service-footer button span {
  transition: 0.4s;
}
.pricing .service-content .service-footer button:hover span {
  scale: 1.1;
}
.pricing .service-content .service-footer button:hover i {
  margin-left: 1rem;
  scale: 1.1;
}
.pricing .service-content .service-footer .support {
  font-size: 12px;
  color: #7c838e;
  text-align: center;
  padding-top: 0.5rem;
}
.pricing .service-content .service-footer .support span {
  padding: 0.5rem;
}

.contact .thumbnail {
  overflow: hidden;
  border-radius: 10px;
}
.contact .thumbnail img {
  width: 100%;
  height: auto;
  transition: 0.4s;
}
.contact .thumbnail:hover img {
  scale: 1.2;
}
.contact .title-area {
  padding: 1.5rem 0;
  font-size: 29px;
  line-height: normal;
}
.contact .title-area h4 {
  font-weight: bold;
  margin: 0;
}
.contact .title-area span {
  font-size: 18px;
  color: #7c838e;
}
.contact .description {
  color: #7c838e;
}
.contact .description a {
  color: #C4CFDE;
  transition: 0.4s;
  position: relative;
}
.contact .description a::before {
  content: "";
  position: absolute;
  width: 0%;
  background-color: #FF014F;
  height: 1px;
  left: 0;
  bottom: 0;
  transition: 0.4s;
  z-index: 10;
}
.contact .description a:hover {
  color: #FF014F;
}
.contact .description a:hover::before {
  width: 100%;
}
.contact .social {
  padding: 1rem 0;
}
.contact .social span {
  color: #7c838e;
}
.contact .social .icons {
  padding: 1.2rem 0;
}
.contact .social .icons a {
  width: 60px;
  height: 60px;
  display: inline-block;
  color: white;
  opacity: 0.7;
}
.contact .social .icons a svg {
  transition: 0.4s;
}
.contact .social .icons a:hover {
  opacity: 1;
}
.contact .social .icons a:hover svg {
  transform: translateY(-0.2rem);
}
.contact form label {
  font-size: 12px;
  color: #7c838e;
  margin-bottom: 0.5rem;
}
.contact form .form-control {
  background-color: #191b1e;
  border-radius: 6px;
  transition: 0.4s;
  border: 2px solid #191b1e;
  padding: 0 15px;
  font-size: 14px;
  color: #C4CFDE;
  box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
  letter-spacing: 1px;
}
.contact form .form-control:focus {
  border: 2px solid #FF014F;
}
.contact form input {
  height: 55px;
}
.contact form textarea {
  height: auto;
}
.contact form .submit {
  border: 1px solid #191b1e;
  border-radius: 6px;
  color: #FF014F;
  background-color: #191b1e;
  padding: 1rem;
  transition: 0.4s;
}
.contact form .submit span {
  font-size: 14px;
}
.contact form .submit:hover {
  transform: translateY(-5px);
}
/*# sourceMappingURL=main.css.map */